.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
  height: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  height: 100px;
}

.carritoIcon {
  height: 50px;
}

.list {
  display: flex;
  flex-direction: nowrap;
  justify-content: space-around;
  list-style-type: none;
}

.itemList {
  margin: 8px;
}

.addToCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemCountContainer {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.itemCountText {
  color: #3e8ded;
  padding: 0px 40px 0px 40px;
}

.itemCountNumber {
  padding: 8px;
}

.addButton {
  width: 300px;
  height: 70px;
  color: #3e8ded;
  border: 1px solid #3e8ded;
  border-radius: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
